body {
  font-family: 'Montserrat', sans-serif;
}

.favorites {
  display: flex;
  flex-direction: column;
}

.box {
  margin: auto;
  width: 80%;
  padding: 30px;

}

.box h1 {
  padding: 16px;
}

.box p {
  padding: 0 28px;
  line-height: 25px;
}

.section {
  border-bottom: 3px solid black;
  width: 80%;
  padding-top: 20px;
  margin: auto;
}

.book-img {
  height: 300px;
  width: 200px;
}

.album-img {
  height: 400px;
  width: 400px;
}

/* favorites */

.list-sections {
  padding: 20px;
}

.lists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
  margin: 0 5%;
}

.lists i {
  font-size: 3.4em;
  margin: 0 auto;
}

.lists h2 {
  margin: 0 auto;
}

.lists ol { 
  line-height: 2.4em;
}

.lists li {
  margin: 16px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 670px){
  .box {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .box h3 {
    width: 80%;
  }

  .album-img {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (min-width: 1180px){


  .list-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    width: 50%;
  }

  .lists-sections ol {
    margin: 0;
  }

  .lists-sections ol li {
    padding: 0;
  }

  .favorites-lists {
    display: flex;
    flex-direction: row;
  }
}

