.footItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.footer p {
  color: #fff;
}

.foot {
  display: flex;
  flex-direction: row;
}

.copy {
  align-items: center;
  padding-left: 100px;
}

.foot a {
  padding: 10px;
  font-size: 1.4em;
}

.twit {
  color: #aaddff;
}

.link {
  color: #9b6ff2;
}

.git {
  color: #80f7ed;
}

.camp {
  color: #78fc76;
}

.foot a {
  font-size: 1.6em;
  padding: 16px;
}

/* Footer Links */

.footLinks ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footLinks ul li {
  padding: 12px;
  font-size: .7em;
}
