body {
  margin: 0;
}

/* Goals Section */

.goals {
  background: linear-gradient(80deg, #ccdbce 20%, rgb(154, 196, 243) 50%, transparent), url('https://hillschurch.files.wordpress.com/2017/02/mountaintop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
}

.goals h1 {
  margin: 0;
  font-size: 4em;
  font-weight: 800;
}

.goals p {
  padding: 20px 0 0 10px;
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
  width: 50%;
}

.goals ol {
  margin: 20px 10px 0 40px;
  padding: 0;
}

.goals ol li {
  font-family: 'Montserrat', sans-serif;
  color: rgb(167, 87, 241);
  font-size: 1.8rem;
  line-height: 1.4em;
  padding: 10px 8px;
}

/* goal input */

.goal-section {
  padding: 5px;
  align-content: center;
}

.goal-list {
  width: 40%;
}

.goal-input {
  width: 98%;
  margin-left: 10%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  margin: 2px;

}

.buttons {
  border: 2px solid black;
  background-color: white;
  margin: 20px 0 0 0;
  font-size: 2px;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.info {
  border-color: #2196F3;
  font-size: .7em;
  color: dodgerblue
}

.info:hover {
  background: #2196F3;
  color: white;
  -webkit-transition: all 0.5s ease-in-out 0s;
}


button:focus, input:focus {
  outline: none;
}

/* Tweets */

.tweets {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: 50px 0;
}

.tweets-copy {
  width: 40%;
  margin: 0 5%;
  margin-left: 0;
}

.twitter-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* Skills */

.technologies {
  background: #f0f0f5;
  padding: 5%;
}

.tech-header h2 {
  display: flex;
  justify-content: center;
  font-size: 2em; 
}

.tech-header p {
  padding-bottom: 3%;
  align-content: center;
}

.tech-header-border {
  border-bottom: 3px solid black;
  width: 80%;
}

.skill-section {
  width: 100%;
}

.collages {
  width: 50%;
  align-content: center;
}

.copy p, .bio p, .favorites p {
  font-size: 1.2em;
  line-height: 1.6em;
}

.frontend-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px 0;
  width: 100%
}

.frontend-copy {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 40%;
}

.frontend-copy ul li, .backend-copy ul li {
  font-size: 2em;
  line-height: 2em;
}

.backend-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding: 40px 0;
  width: 100%;
  text-align: left;
}

.backend-copy {
  display: flex;
  justify-content: right;
  flex-direction: column;
  width: 40%;
}

.future-section {
  padding-top: 30px;
}

.future-copy {
  padding-bottom: 3%;
}

.future-copy h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.near-future-section h2 {
  padding-top: 50px;
}

.near-future-list {
  display: flex;
  flex-direction: row;
  padding: 40px 0;
}

.near-future-list ol {
  width: 40%;
  padding-right: 5%;
  margin-right: 10%;
}

.near-future-list ol li {
  font-size: 2em;
  line-height: 2em;
}

.distant-future-section {
  padding: 50px 0;
}

.long-term-list {
  display: flex;
  flex-direction: row; 
}

.long-term-list ol {
  width: 40%;
  padding:  0 100px;
  margin: 50px;
}

.long-term-list ol li {
  font-size: 2em;
  line-height: 2em;
}

/* Tweets */

.tweets p {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
}

.follow-button {
  padding: 20px;
}

/* Projects */

.projects {
  padding: 3%;
}

.project {
  padding-bottom: 5%;
}

.website {
  display: flex;
  display: row;
  padding: 2%;
  margin-top: 3%;
}

.site-pic {
  height: 80vh;
  width: 50vw;
  margin: auto 0;
}

.website ul li {
  padding: 8px;
}

.links {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.links i {
  font-size: 1.4em;
}

.link {
  display: inline-block;
  padding: 15px;
  font-size: 1.5em;
}

.link a {
  padding-left: 4px;
}

.built-with p {
  padding-top: 14px;
}

.built-with {
  display: flex;
  justify-content: center;
}

.built-with img {
  padding-left: 8px;
  height: 10vh;
}

/* comment form */

#comments {
  padding: 5% 15%; 
}

#comment-form {
  padding: 20px;
}

#comment-form textarea {
  margin-bottom: 15px;
}

.comment-spacing p {
  line-height: 25px;
  padding: 5px;
}

.comment-spacing {
  padding: 10px;
  width: 100%;
}

/* blog */

.blog-description {
  padding-left: 20px;
}

.blog-body {
  padding: 60px;
  margin: 40px 20px;
  font-size: 1.3em;
  line-height: 1.4em;
  background: rgb(245, 245, 243);
}

.blog-body p {
  padding: 0 10px;
}

.blog-body pre {
  background: black;
  color: white;
}

.image-sizing {
  width: 80%;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #747773;
  padding: 10px;
  
}

.footer p {
  font-size: 1.2em;
  margin: 0 auto;
  font-weight: 800;
}

.icons {
  font-size: 1.8em;
  margin: 0 auto;
}

.icons i {
  padding: 10px;
  margin: 5px;
}

/* Model Login Buttons */

.login-buttons {
  padding: 10px;
}

.login-buttons a {
  color: white;
}

.login-buttons button {
  width: 58vw;
}

.column {
  padding: 20px;
}

.form {
  padding-top: 30px;
}

.button {
  padding: 10px;
}

/* Blog Posts */

.blog-card {
  width: 30%;
}

.blog-card p {
  height: 80px;
  padding: 0 20px;
}

.ui.raised.segment {
  margin: 0 20px 20px 20px;
}

.blog-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
}

.blog-image {
  width: 100%;
  height: 50vh;
  padding: 20px;
}

.post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.blog-inputs {
  padding: 8px;
}

.form-buttons {
  padding-top: 20px;
}

.add-blog {
  padding: 8px;
}

/* Like Buttons */

.like-buttons {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.likes {
  padding: 20px;
}

@media only screen and (max-width: 1030px){

  .website {
    display: flex;
    flex-direction: column-reverse;
  }

  .projects {
    padding-top: 5px;
  }

  .site-pic {
    width: 100%;
    padding-bottom: 20px;
    height: 60vh;
  }
}

@media only screen and (max-width: 780px){

  .goal-list {
    width: 100%;
  }

  .tweets {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .twitter-section, .tweets-copy {
    padding: 2%;
    margin: 0;
    width: 100%;
  }

  .tweets p {
    padding: 0;
  }


  .frontend-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 0;
    width: 100%;
  }

  .frontend-copy {
    width: 95%;
  }

  .backend-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    flex-wrap: wrap;
    padding: 40px 0;
    width: 100%;
  }

  .backend-copy {
    width: 95%;
  }

  .distant-future-section {
    display: flex;
    flex-direction: column;
  }

  .near-future-list {
    display: flex;
    flex-direction: column-reverse;

  }

  .near-future-list ol {
    width: 100%;
  }

  .long-term-list {
    display: flex;
    flex-direction: column;
  }

  .long-term-list ol {
    padding: 0;
  }

  .collages img {
    width: 90vw;
  }

  .blog-card {
    width: 90%;
  }

  .blog-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
  }

  .container.blog-cards {

  }
}

.ui.vertical.divider {
  visibility: hidden;
}

.ui.standard.modal.visible.active {
  width: 33%;
}

@media only screen and (min-width: 1020px){

  .collages img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 770px){
  .ui.vertical.divider {
    visibility: visible;
  }
}

@media only screen and (max-width: 680px){


  .projects {
    padding: 10px 0;
  }

  .blog-image {
    padding: 0;
  }

  .goals {
    padding: 2%;
  }

  .goals p {
    width: 100%;
  }

  .blog-body {
    padding: 10px;
  }
}

@media only screen and (max-width: 330px){

  .list-sections {
    padding: 0;
  }
}

